// COLORS
// App UI
$sub-heading-app-UI: hsl(276, 100%, 81%);
$left-chat: hsl(276, 55%, 52%);
$right-chat: hsl(271, 15%, 43%);
$placeholder: hsl(206, 6%, 79%);
$app-bg: hsl(270, 20%, 96%);
$send-btn-bg: hsl(271, 36%, 24%);
$radio-btn-outline: hsl(289, 100%, 72%);

// Body
$heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);
$white: hsl(0, 0%, 100%);

// Gradients
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

//FONT
$font-size: 1rem;
$font-rubik: 'Rubik', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$transition-delay: 400ms;

// Animation for new message
@keyframes new-message {
	from {
		transform: translate(20px, 10px);
		transform: scale(0);
	}

	to {
		transform: translate(0);
		transform: scale(1);
	}
}
