@media screen and (min-width: 475px) {
	.app-container {
		.bg-pattern {
			position: absolute;
			top: 0;
			left: -40%;
			width: 30rem;
			height: 34rem;
		}

		.bg-pattern-2 {
			position: absolute;
			bottom: 0;
			right: -40%;
			width: 30rem;
			height: 35rem;
		}
	}
}

@media screen and (min-width: 780px) {
	.app-container {
		.bg-pattern {
			position: absolute;
			top: 0;
			left: -30%;
			width: 40rem;
			height: 36rem;
		}

		.bg-pattern-2 {
			position: absolute;
			bottom: 0;
			right: -30%;
			width: 40rem;
			height: 40rem;
		}
	}
}

@media screen and (min-width: 1020px) {
	.container {
		width: 100%;
		max-width: 52.3125rem;
		margin: 0;
	}

	.app-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.bg-pattern {
			position: absolute;
			top: 0;
			left: -6.5%;
			width: 28.75rem;
			height: 87.75vh;
		}

		.bg-pattern-2 {
			position: absolute;
			bottom: 0;
			right: -8%;
			width: 28.75rem;
			height: 85.125vh;
		}
	}

	main {
		padding: 3rem 0;
		transition: all $transition-delay;

		.main-wrapper {
			flex-direction: row;

			.main-details {
				padding-top: 0;
				padding-left: 7.8125rem;
				text-align: left;
				width: 70%;
			}
		}
	}
}
